.highlight .c,
.highlight .c1,
.highlight .cm,
.highlight .cs {
  color: #b99b85;
  font-style: italic;
}

.highlight .err,
.highlight .gd {
  color: #ffcab8;
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr,
.highlight .ow {
  color: #ffb383;
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #f0c774;
}

.highlight .n,
.highlight .na,
.highlight .nb,
.highlight .nc,
.highlight .nf,
.highlight .nn,
.highlight .nv,
.highlight .vi {
  color: #f7efe6;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s1,
.highlight .s2,
.highlight .sr {
  color: #b8d4a7;
}

.highlight .o,
.highlight .nt {
  color: #e7d0be;
}
